html {
  scroll-behavior: smooth;
}


body {
  background-color: #151719
}

.NavigationBar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  top: 0px;
  align-items: center;
  z-index: 100;
  position: sticky;
}

.navItems {
  display: flex;
  gap: 10px;
}

.removeLinkWhiteText {
  text-decoration: none;
  color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  gap: 35px;
  text-align: center;
}


.subText {
  max-width: 80%;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.ProjectsWrapper {
  padding-top: 30px;
}

.ProjectCard {
  border-radius: 4px;
  padding: 24px;
  min-height: 50vh;
  background-color: #25282c;
  border: 1px solid #eaebeba9;
  gap: 20px;
}

.ContactCard {
  background-color: #5658dd;
  padding: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
